<script>
  import { navigate } from "svelte-routing";
  import { login } from "../../stores.js";
  import Heading from "../../components/Heading.svelte";
  import Input from "../../components/Input.svelte";
  import Button from "../../components/Button.svelte";

  import api from "../../api";

  let input = {
    email: "",
    password: ""
  };

  function handleInputChange(event) {
    const { name, value } = event.target;

    input = {
      ...input,
      [name]: value
    };
  }

  async function submitForm() {
    console.log("Input:", input);

    // Some validation here plss

    try {
      await login(input);
      navigate("/");
    } catch (err) {
      console.log("Err,", err);
    }
  }
</script>

<style>
  .login-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>

<form class="login-form" on:submit|preventDefault={submitForm}>
  <Heading>Log in</Heading>
  <Input
    name="email"
    label="Email"
    value={input.email}
    onChange={handleInputChange} />

  <Input
    name="password"
    type="password"
    label="Password"
    value={input.password}
    onChange={handleInputChange} />

  <Button>Log in</Button>
</form>
