<script>
  import { navigate } from "svelte-routing";
</script>

<style>
  .home-container {
    display: flex;
  }

  .home-card {
    flex: 1;
  }
</style>

<div class="home-container">
  <div class="home-card">
    <img src="../src/assets/rent.jpg" alt="rent car" />
  </div>

  <div class="home-card">
    <img src="../assets/return.jpg" alt="return car" />
  </div>
</div>
