<script>
  // Button might be reduntant
  import NavButton from "./NavButton.svelte";
</script>

<style>
  .button-group {
    display: flex;
    justify-content: space-around;
    width: 20rem;
  }
</style>

<div class="button-group">
  <NavButton to="login">LOG IN</NavButton>
  <NavButton to="signup" background>SIGN UP</NavButton>
</div>
