<script>
  import { navigate } from "svelte-routing";

  export let to;
  export let background = false;

  function onClick() {
    navigate(to, { replace: true });
  }
</script>

<style>
  button {
    width: 8rem;
    height: 3rem;
    border: 3px solid #1d4d5d;
    background-color: transparent;
    border-radius: 3px;
    font-weight: 800;
    color: #1d4d5d;
  }

  button:hover {
    background-color: #01b7ab;
  }

  .action {
    background-color: #d7efef;
  }
</style>

<button on:click={onClick} class={background && 'action'}>
  <slot />
</button>
