<script>
  import { user, token } from "./../../stores.js";
  import NavLinks from "./NavLinks.svelte";
  import UserHeader from "./UserHeader.svelte";
  import AnonymHeader from "./AnonymHeader.svelte";

  console.log("User:", $user);
  console.log("Token:", $token);
</script>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 8vh;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.4);
  }
</style>

<div class="navbar">
  <NavLinks />

  {#if $token || $user}
    <UserHeader />
  {:else}
    <AnonymHeader />
  {/if}
</div>
