<script>
  import { Link } from "svelte-routing";

  export let to = "";

  function getProps({ location, href, isPartiallyCurrent, isCurrent }) {
    const isActive = href === "/" ? isCurrent : isPartiallyCurrent || isCurrent;

    let linkClass = "navlink";

    if (isActive) {
      linkClass += " active";
    }
    return {
      class: linkClass
    };
  }
</script>

<style>
  /* Global hack to style an external component */
  :global(.navlink) {
    text-decoration: none;
    color: #6a5768;
    font-size: 24px;
    font-weight: 700;
  }

  :global(.navlink:hover) {
    text-decoration: none;
    color: #6a5768;
  }

  :global(.navlink.active) {
    color: #01b7ab;
  }
</style>

<Link {to} {getProps}>
  <slot />
</Link>
