<script>
  import NavLink from "./NavLink.svelte";
</script>

<style>
  .nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 0 10vw;
  }
</style>

<div class="nav-links">
  <NavLink to="/">HOME</NavLink>
  <NavLink to="/cars">CARS</NavLink>
  <NavLink to="/rentals">MY RENTALS</NavLink>
</div>
