<script>
  import { onMount } from "svelte";
  import { user, getUser, token, logout } from "../../stores.js";
  import Heading from "../Heading.svelte";

  onMount(async () => {
    if (!$user) {
      getUser($token);
    }
  });

  function onLogout() {
    logout();
  }
</script>

<style>
  .user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-header button {
    height: 2rem;
    margin: 0;
    margin-left: 16px;
  }
</style>

<div class="user-header">
  <Heading size="medium">Hello, {$user ? $user.name : 'nobody'}</Heading>
  <button on:click={onLogout}>Log out</button>
</div>
