<script>
  export let onClick;
</script>

<style>
  button {
    background-color: #1d4d5d;
    border-radius: 5rem;
    text-align: center;
    width: 15rem;
    height: 2.5rem;
    color: rgb(240, 240, 240);
    cursor: pointer;
  }

  button:hover {
    box-shadow: 0px 2px 5px rgb(128, 128, 128);
  }
</style>

<button on:click={onClick}>
  <slot />
</button>
