<script>
  import { error, resetError } from "../stores.js";
</script>

<style>
  .error-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .error-message {
    display: inline-block;
    color: rgb(214, 68, 68);
    margin: 0;
  }

  .close {
    margin-left: 0.5rem;
    color: rgb(175, 37, 37);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
</style>

{#if $error}
  <div class="error-container">
    <h1 class="error-message">{$error}</h1>
    <span class="close" on:click={resetError}>&times;</span>
  </div>
{/if}
