<script>
  export let size = "large";

  const allowedSized = ["small", "medium", "large"];

  if (!allowedSized.includes(size)) {
    throw new Error(`Size ${size} is not supported`);
  }
</script>

<style>
  h1 {
    font-size: 32px;
    color: #1d4d5d;
    text-align: center;
  }

  .large {
    font-size: 32px;
  }

  .medium {
    font-size: 24px;
  }

  .small {
    font-size: 16px;
  }
</style>

<h1 class={size}>
  <slot />
</h1>
