<script>
  export let name;
  export let type = "text";
  export let value;
  export let label;
  export let placeholder;
  export let onChange;
</script>

<style>
  div {
    width: 30rem;
    margin: 3rem auto;
  }

  label {
    color: #6a5768;
    font-size: 24px;
  }

  input {
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6a5768;
    font-size: 24px;
    color: #1d4d5d;
    font-weight: 600;
  }

  input:focus {
    outline: none;
  }
</style>

<div>
  <label for={name}>{label}</label>
  <input {type} {name} {value} {placeholder} on:change={onChange} />
</div>
