<script>
  export let open = false;
</script>

<style>
  .modal-container {
    width: 40rem;
    margin: 0 auto;
    z-index: 100;
  }

  .hidden {
    display: none;
  }
</style>

<div class={`modal-container${open ? '' : ' hidden'}`}>
  <span class="close">&times;</span>
  <slot />
</div>
