<script>
  import { navigate } from "svelte-routing";

  export let car;

  function navigateToDetails() {
    navigate(`cars/${car.id}`);
  }
</script>

<style>
  .car-card {
    width: 23rem;
    height: 20rem;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(55, 55, 55, 0.26);
    cursor: pointer;
  }

  .car-card:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
  }

  .car-description {
    margin: 0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  .car-name {
    margin: 0;
    width: 100%;
  }

  .car-year,
  .car-price {
    display: block;
    flex: 1;
  }

  .car-price {
    text-align: end;
  }

  img {
    width: 100%;
    height: 70%;
    opacity: 0.9;
    object-fit: cover;
    border-radius: 5px;
  }
</style>

<div class="car-card" on:click={navigateToDetails}>
  <img src={car.image} alt={`${car.name}`} />
  <div class="car-description">
    <h3 class="car-name">{car.name}</h3>
    <p class="car-year">{car.year}</p>
    <p class="car-price">
      Price
      <strong>{car.price} EUR</strong>
    </p>
  </div>
</div>
