<script>
  import CarCard from "./CarCard.svelte";

  export let cars = [];
</script>

<style>
  .cars-list {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<div class="cars-list">
  {#each cars as car}
    <CarCard {car} />
  {/each}
</div>
