<script>
  import { onMount } from "svelte";
  import apiClient from "../../api";
  import CarList from "./CarList.svelte";

  let cars = [];

  console.log("TERE");

  onMount(async () => {
    console.log("YOYOYO");
    cars = await apiClient.getCars();

    console.log(cars);
  });
</script>

<style>
  section {
    max-width: 50rem;
    margin: 0 auto;
  }

  h1 {
    margin: 1rem;
  }
</style>

<section>
  <h1>Here are some carz</h1>
  <CarList {cars} />
</section>
