<script>
  import { signup } from "../../stores.js";
  import { navigate } from "svelte-routing";
  import Button from "../../components/Button.svelte";
  import Heading from "../../components/Heading.svelte";
  import Input from "../../components/Input.svelte";

  let input = {
    name: "",
    email: "",
    password: "",
    phoneNumber: ""
  };

  async function handleSubmit() {
    await signup(input);
    navigate("/");
  }

  function handleInputChange(event) {
    const { name, value } = event.target;

    input = {
      ...input,
      [name]: value
    };
  }
</script>

<style>
  .signup-container {
    max-width: 30rem;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
</style>

<div class="signup-container">
  <Heading>Sign Up</Heading>
  <form autocomplete="off" on:submit|preventDefault={handleSubmit}>
    <div class="name-container">
      <Input
        name="name"
        label="Name"
        value={input.name}
        onChange={handleInputChange} />
      <Input
        name="email"
        label="Email"
        value={input.email}
        onChange={handleInputChange} />
      <Input
        name="password"
        label="Password"
        type="password"
        value={input.password}
        onChange={handleInputChange} />
      <Input
        name="phoneNumber"
        label="Phone number"
        value={input.phoneNumber}
        onChange={handleInputChange} />

    </div>
    <Button>Sign Up</Button>
  </form>
</div>
