<script>
  import { onMount } from "svelte";
  import Veriff from "@veriff/js-sdk";
  import config from "../../config.js";
  import Modal from "../../components/Modal.svelte";
  import Heading from "../../components/Heading.svelte";

  function onVeriffSessionHandler(err, response) {
    if (err) {
      console.log("Some err occured:", err);
    } else {
      console.log("Response from Veriff;", response);
    }
  }

  onMount(() => {
    const veriff = Veriff({
      env: "production",
      apiKey: config.veriffApiKey,
      parentId: "veriff",
      onSession: onVeriffSessionHandler
    });

    veriff.mount();
  });
</script>

<style>

</style>

<Modal open={true}>
  <Heading>Veriff Modal yo</Heading>
  <div id="veriff" />
</Modal>
