<script>
  import { Router } from "svelte-routing";
  import Routes from "./Routes.svelte";
  import Navbar from "./components/Navbar/Navbar.svelte";
  import Error from "./components/Error.svelte";
</script>

<style>
  :global(body) {
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
  }
</style>

<Router>
  <div class="main-container">
    <Navbar />
    <Error />
    <Routes />
  </div>
</Router>
