<script>
  // TODO GET JWT HERE!!!!!!!!! AND PASS IT DOWN< AMAZING or not; :shrugging:
  import { Route } from "svelte-routing";
  import Home from "./pages/Home.svelte";
  import Login from "./pages/Login/Login.svelte";
  import Signup from "./pages/Signup/Signup.svelte";
  import Cars from "./pages/Cars/Cars.svelte";
  import CarDetails from "./pages/CarDetails/CarDetails.svelte";
  import Order from "./pages/Order.svelte";
  import Return from "./pages/Return.svelte";
</script>

<Route path="/" component={Home} />
<Route path="/cars" component={Cars} />
<Route path="/cars/:id" component={CarDetails} />
<Route path="/signup" component={Signup} />
<Route path="/login" component={Login} />
<Route path="/" component={Home} />
<Route path="/" component={Home} />
<Route path="/" component={Home} />
<Route path="/" component={Home} />
